/* src/Lyrics.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.lyric-container {
  /* background: rgba(0, 0, 0, 0.65);  */
  color: #1DB954;                /* Spotify Green */
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  border-radius: 8px;
  -webkit-app-region: drag; 
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: 'hidden';
}

.lyric-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0s ease;     /* Smooth transition when lyrics change */
  font-size: 24px;
  text-align: center;
  word-wrap: break-word; /* Important if the line is very long! */
}